*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    /* background-color: #F8f7f4; */
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
}
/* Navbar */
.page1{
    width: 100%;
    height: 100%;
    /* background-color: #0f8; */
}
.page1 .nav{
    width: 100%;
    height: 12vh;
    /* background-color: #35f; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}
.nav a{
    text-decoration: none;
    font-size: 1.1vw;
    color: #000;
    font-weight: 550;
}
.nav li{
    list-style-type: none;
}

/* Nav part 1 */
.nav-part1{
    width: 25%;
    /* background-color: rgb(255, 252, 85); */
}
.nav-part1 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-part1 a:hover{
    color: #000000be;
}
/* Nav Part2 */
.nav-part2{
    width: 30%;
    /* background-color: rgb(255, 252, 85); */
}
.nav-part2 ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2vw;
}
#sign-up{
    background-color: #000;
    border-radius: 2vw;
    padding: 1vw;
    color: #fff;
}
#sign-up:hover{
    background-color: #000000be;
}
.nav-part2 a:hover{
    color: #000000be;
}

/* Nav img */
.nav img{
    width: 6.5vw;
    margin-bottom: 1vw;
    margin-left: 5vw;
}
.nav img:hover{
    cursor: pointer;
}
/* Content */
.content{
    height:calc(100% - 12vh);
    width: 100%;
    /* background-color: rgb(218, 68, 255); */
}
/* Info */
.info{
    padding: 4vw;
}
.content h4{
    width: fit-content;
    padding: 0.5vw;
    background-color: rgba(255, 224, 85, 0.658);
    border-radius: 2vw;
    font-size: 1vw;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    font-weight: 600;
}
.content h1{
    padding: 1vw 0;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 500;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 3.5vw;
}

.content p{
    padding: 0.2vw 0;
    text-align: center;
    font-size: 1.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content button{
    background-color: #000;
    border-radius: 2vw;
    margin: 1.2vw 0;
    padding: 1vw;
    border: 0.01vw solid #000;
    color: #fff;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 1vw;
}
/* Scroll  */
.scroll{
    width: 100%;
    height: 55vh;
    /* background-color: #e5e; */
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
    height: 55vh;
    /* background-color: #e5e; */
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
}
.scroll::-webkit-scrollbar{
    background-color: transparent;
    height: 8px;
}
.scroll::-webkit-scrollbar-thumb{
    background-color: #df850f6b;
    border-radius: 20px
}
.scroll-container{
    width: 100%;
    height: 50vh;
    /* background-color: #af3; */
    padding: 0.5vw;
    display: inline-block;
    /* animation: move-left 4s linear infinite; */
}
/* Scroll Content */
.scroll-content{
    width: 250PX;
    height: 100%;
    display: inline-block;
    /* background-color: #0fc; */
    border: 1px solid #000;
    border-radius: 5%;
    overflow: hidden;
}
/* @keyframes move-left {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
} */
.scroll-content{
    width: 250px;
    height: 100%;
    display: inline-block;
    /* background-color: #0fc; */
    border: 1px solid #000;
    margin-right: 1vw;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
}
/* @keyframes move-left {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 245PX));
    }
} */
 
/* Img Video of Scroll Container */
.scroll-container img,video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 30%;
}
.scroll-content:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    opacity: 1;
}
/* Text Bottom */
.scroll-content .text-bottom{
    width: 100%;
    height: 15vh;
    background-color: #0000001e;
    backdrop-filter: blur(0.1vw);
    position: absolute;
    bottom: 0;
    color: #fff;
    opacity: 0;
}
.scroll-content:hover .text-bottom{
    opacity: 1;
}
.text-bottom p{
    width: 20%;
    margin-left: 1vw;
}
.text-bottom ul{
    margin: 0.8vw 0.5vw;
    display: flex;
    gap: 1vw;
    list-style: none;
}
.text-bottom li a{
    text-decoration: none;
    color: #ffff;
    padding: 0.3vw 0.5vw;
    background-color: transparent;
    border: 1px solid #ffffff44;
    border-radius: 2vw;
    font-size: 0.8vw;
}
.text-bottom button{
    width: 40%;
    font-size: 0.8vw;
    padding: 0.5vw;
    background-color: #fff;
    position: relative;
    left: 25%;
    top: -10%;
    color: #000;
}
/* Page 2 */
.page2{
    width: 100%;
    height: 100%;
    background-color: #2fa;
}
